<!-- <a
  href="/"
  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
  ><span class="fs-4">Hubs Documentation</span></a
>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a href="/hubs" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
    <a href="/about" class="nav-link">About</a>
  </li>
  <li class="nav-item">
    <a href="/methods" class="nav-link">Methods</a>
  </li>

  <li class="nav-item">
    <a href="/experiences" class="nav-link">Experiences</a>
  </li>
</ul> -->

<div class="container">
  

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="/hubs">Hubs in Medical Education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/hubs">Home</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/methods">Methods</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/experiences" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Experiences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="experiences/heart01">Heart Desktop</a>
          <a class="dropdown-item" href="experiences/heart02">Gut Escape Room</a>
          <a class="dropdown-item" href="experiences/gut_escape">Ptp Fossa VR</a>
          <a class="dropdown-item" href="experiences/ptpfossa">Heart VR</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div>