<div id="experience-list" class="list-group">
  <a class="list-group-item list-group-item-action" href="#objectives">Objectives</a>
  <a class="list-group-item list-group-item-action" href="#experiences">Experiences</a>
  <a class="list-group-item list-group-item-action" href="#assets">Outside Assets</a>
</div>
<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <h4 id="list-item-1"></h4>
  <p>...</p>
  <h4 id="list-item-2">Experience</h4>
  <p>...</p>
  <h4 id="list-item-3"></h4>
  <p>...</p>
  <h4 id="list-item-4">Item 4</h4>
  <p>...</p>
</div>