<div id="hubsCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: auto; padding-bottom:1rem">
      <div style="padding:38.13% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/695209577?h=051c40c159&amp;autoplay=1&loop=1&autopause=0&amp;badge=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"  title="iime hero"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>
</div>
